<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <title>Class</title>

  <!-- meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- web logo -->
  <link rel="icon" type="image/png" href="images/class_logo.png">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- css link -->
  <link rel="stylesheet" href="css/styles.css">

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a href="/home" class="top" style="text-decoration: none;  padding-right: 12px;">
        <h3><img src="images/class.png" style="width: 43px; height: 43px; color: white; float: left; padding-right: 5px; padding-top: 2.5px; padding-bottom: 2.5px">CLASS<sup>BETA</sup></h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="width: 23px;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/attendance">ATTENDANCE</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              TIMETABLE
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/timeTable">Today</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/weeklyTimeTable">Weekly</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/monday">Monday</a></li>
              <li><a class="dropdown-item" href="/tuesday">Tuesday</a></li>
              <li><a class="dropdown-item" href="/wednesday">Wednesday</a></li>
              <li><a class="dropdown-item" href="/thursday">Thursday</a></li>
              <li><a class="dropdown-item" href="/friday">Friday</a></li> -->
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/editClass">EDIT CLASS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tasks">TASKS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/message">MESSAGE</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">PROFILE</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/profile" style="white-space:nowrap;">Profile <img src="images/user.png" style="width: 25px; position: relative; bottom: 2px;"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/">Logout</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT</a>
          </li>
        </ul>
      </div>
      <div style="display: flex; float: right;">
        <img src="images/sun.png" id="icon">
      </div>
    </div>
  </nav>
</head>

<script>
  var icon = document.getElementById("icon");
  icon.onclick = function() {
    document.body.classList.toggle("dark-theme");
    if (document.body.classList.contains("dark-theme")) {
      icon.src = "images/moon.png";
    } else {
      icon.src = "images/sun.png";
    }
  }
</script>

<!--Start of Tawk.to Script-->
<!-- <script type="text/javascript">
  var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date();
  (function() {
    var s1 = document.createElement("script"),
      s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/63e23209474251287911f157/1golp6toi';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
</script> -->
<!--End of Tawk.to Script-->

<body>
  <div class="container-fluid-2" style="padding-top: 70px;">
  </div>

  <style>
    #loader {
      border: 12px solid #f3f3f3;
      border-radius: 50%;
      border-top: 12px solid #3cc47c;
      width: 70px;
      height: 70px;
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
    .center {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  </style>

  <div id="loader" class="center"></div>

  <script>
    document.onreadystatechange = function() {
      if (document.readyState !== "complete") {
        document.querySelector(
          "body").style.visibility = "hidden";
        document.querySelector(
          "#loader").style.visibility = "visible";
      } else {
        document.querySelector(
          "#loader").style.display = "none";
        document.querySelector(
          "body").style.visibility = "visible";
      }
    };
  </script>
