<%- include("partials/header") -%>


<div class="head">
  <h4>About</h4>
</div>

<div class="parent">
  <div class="child">
    <img src="images/logo.png" style="width: 280px; height: 280px;" alt="logo">
  </div>
  <div class="child">
    <p class="det">Hey there! This is Irfan, the developer of this web application.</p>
    <p class="det">The Class application is created to keep track of your school/college class schedules and to maintain your attendance percentage.</p>
    <p class="det">For any queries, pls do contact us,</p>
    <p class="det">We value your feedback</p>
    <a class="contact-btn" href="mailto:umiappsofficial@gmail.com">CONTACT ME</a>

  </div>
</div>

<footer>
  <div class="details" style="margin-bottom: 0;">
    <p class="dett">umi apps</p>
    <p class="dett">© copyrights 2023 Class</p>
    <p class="dett">all rights reserved</p>
  </div>
</footer>

  <%- include("partials/footer") -%>
