<%- include("partials/header") -%>


<div class="head">
  <h4>Add Class</h4>
</div>

<form action="/addClass" method="post">
  <div class="form-floating">
    <input class="form-control" placeholder="Enter the Day" type="text" required id="day" name="day">
    <label for="day">Day</label>
  </div>
  <div class="form-floating">
    <input class="form-control" onchange="onTimeChange()" type="time" required id="start" name="start">
    <label for="start">Start time</label>
  </div>
  <div class="form-floating">
    <input class="form-control" type="time" required id="end" name="end">
    <label for="end">End time</label>
  </div>
  <div class="form-floating">
    <input class="form-control" type="text" required pattern="[a-zA-Z0-9\s]{1,10}" title="must contain only alphanumeric and space of upto 8 characters long" id="subject" placeholder="Subject" name="subject">
    <label for="subject">Subject</label>

  </div>
  <div class="new-task">
    <button type="submit" class="add btn btn-outline-primary" value="add" name="add">Add</button>
  </div>
</form>

<form action="/back" method="post">
  <div class="delete-add" style="display: flex; justify-content: space-between;">
    <div style="float: left; position: relative; bottom: 65px;">
      <button type="submit" class="add btn btn-outline-danger" value="back" name="back">Back</button>
    </div>
  </div>
</form>


<%- include("partials/footer") -%>
