<%- include("partials/header") -%>


<div class="head">
  <h4>🎊 Welcome 🎊</h4>
</div>

<div class="period">
  <p style="font-weight: 500;">Hi <%= keyName %>! Happy to welcome you to our web application <b style="font-weight: 700;">Class</b></p>
  <p style="font-weight: 500;">The Class application is created to keep track of your school/college class schedules, maintain your attendance percentage and also to know your tasks</p>
  <p>Let's get started</p>
  <p>Look through it.....</p>
</div>

<div class="video-container">
  <iframe width="580" height="315" src="https://www.youtube.com/embed/077xx5e1HDo?si=Ectmv-jA0smhRJMq" frameborder="0" allowfullscreen></iframe>
</div> 

<style>
  .video-container {
        margin: 20px auto;
        width: 580px;
        height: 315px;
        border-radius: 15px;
    }

    .video-container iframe {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        box-shadow: 2px 2px 15px -2px rgba(0,0,0,.25);
        background-image: var(--period-anime);
    }

    @media (max-width: 600px) {
        .video-container {
            width: 80%;
            height: auto;
        }

        .video-container iframe {
            width: 100%;
            height: auto;
        }
    }
</style>

<%- include("partials/footer") -%>
