<%- include("partials/header") -%>


<div class="head">
  <h4>🎊 Welcome 🎊</h4>
</div>

<div class="period">
  <p style="font-weight: 500;">Hi <%= keyName %>! Happy to welcome you to our web application <b style="font-weight: 700;">Class</b></p>
  <p style="font-weight: 500;">The Class application is created to keep track of your school/college class schedules, maintain your attendance percentage and also to know your tasks</p>
  <p>Let's get started</p>
  <p>Look through it.....</p>
</div>


<%- include("partials/footer") -%>
