<%- include("partials/header") -%>


<div class="head">
  <h4>Message</h4>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Overall Attendance</p>
  <p> • Now, you can able to see your overall attendance with a pie chart from the attendance page</p>
  <p> • February 8, 2023</p>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Chat options & Theme update</p>
  <p> • Now, you can able to send your queries using the tawk.to bot</p>
  <p> • You can now view all the pages in both light and dark mode</p>
  <p> • February 7, 2023</p>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Delete classes, back option & minor fix with add class</p>
  <p> • Now, you can able to delete your classes(periods)</p>
  <p> • Back options in delete and add class page</p>
  <p> • Now the subject name in add class can only be alphanumeric, space and can only be upto 8 charcters long</p>
  <p> • February 6, 2023</p>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Major fix with attendance</p>
  <p> • The problem with showing new attendance for the same subject has resolved</p>
  <p> • February 5, 2023</p>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Select order on saturday, logo update & some minor fixes</p>
  <p> • Now you can select the order of timtable on saturday page</p>
  <p> • Class logo has been updated</p>
  <p> • Fixed some minor issues with heading</p>
  <p> • February 5, 2023</p>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Minor Fixes</p>
  <p> • Fixed some issues with navbar, tasks and about page</p>
  <p> • February 4, 2023</p>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Fixed Navbar</p>
  <p> • The Navigation bar has been fixed at the top to make it convenient to navigate to any page, from any part of the page</p>
  <p> • February 3, 2023</p>
</div>


<%- include("partials/footer") -%>
