<%- include("partials/header") -%>


<div class="head">
  <h4>Message</h4>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Login as a Guest</p>
  <p> • A Major update of login as a guest feature, who don't wish to login, but wanted to have a look around the web application.</p>
  <p> • September 16, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Minor UI Fixes</p>
  <p> • Fixed minor ui issues with buttons animation and some fixes.</p>
  <p> • July 25, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Minor UI Fixes</p>
  <p> • Fixed some minor ui issues with profile page and edit class page.</p>
  <p> • July 24, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Major UI update</p>
  <p> • The new edit class option on navbar will be very useful to easily add class, delete class and modify class timings.</p>
  <p> • July 23, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Add class update</p>
  <p> • Now the timings for each class has been separated with respective to their period numbers.</p>
  <p> • So, while adding the new class you can just simply add the period number.</p>
  <p> • July 23, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Weekly Schedule</p>
  <p> • The weekly schedule of timetable will be very useful to have a overall view of the classes.</p>
  <p> • July 22, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Period number</p>
  <p> • Now, you can add the period number for classes, which will be very useful and the classes will automatically be sorted and displayed.</p>
  <p> • July 21, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Attendance update</p>
  <p> • Now, you could be able to view the attendance updated till date, which will be very useful to have a note on untill when we marked the attendance.</p>
  <p> • July 20, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Present Details</p>
  <p> • Now, you could be able to view the overall of attendance log with both present and absent details.</p>
  <p> • July 20, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">UI Update</p>
  <p> • Dropdown option has been added for day of add class.</p>
  <p> • Major UI updates like shadow effects and new UI for message tab.</p>
  <p> • July 19, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Alerts</p>
  <p> • Now you will receive an alert on adding class, deleting class, marking attendance, adding task and deleting task.</p>
  <p> • July 18, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Minor Fixes</p>
  <p> • Some minor UI design upgrades in the Time table and Attendance page.</p>
  <p> • March 22, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Authentication & Security</p>
  <p> • Now you can get the personalized features of our class application by login feature.</p>
  <p> • All the data's are secured and the passwords are secured using hashing methods and you can keep you profile personalized, private and safe.</p>
  <p> • March 20, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Navbar update</p>
  <p> • You can now navigate to any day of the timetable with navbar itself, with the help of the dropdown menu.</p>
  <p> • February 24, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Page Loaders</p>
  <p> • Page loading animations has been added to all the pages</p>
  <p> • February 9, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Absent details</p>
  <p> • Now, you can able to see your absent details of date & time of absent on attendance</p>
  <p> • February 8, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Overall Attendance</p>
  <p> • Now, you can able to see your overall attendance with a pie chart from the attendance page</p>
  <p> • February 8, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Chat options & Theme update</p>
  <p> • Now, you can able to send your queries using the tawk.to bot</p>
  <p> • You can now view all the pages in both light and dark mode</p>
  <p> • February 7, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Delete classes, back option & minor fix with add class</p>
  <p> • Now, you can able to delete your classes(periods)</p>
  <p> • Back options in delete and add class page</p>
  <p> • Now the subject name in add class can only be alphanumeric, space and can only be upto 8 charcters long</p>
  <p> • February 6, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Major fix with attendance</p>
  <p> • The problem with showing new attendance for the same subject has resolved</p>
  <p> • February 5, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Select order on saturday, logo update & some minor fixes</p>
  <p> • Now you can select the order of timtable on saturday page</p>
  <p> • Class logo has been updated</p>
  <p> • Fixed some minor issues with heading</p>
  <p> • February 5, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Minor Fixes</p>
  <p> • Fixed some issues with navbar, tasks and about page</p>
  <p> • February 4, 2023</p>
</div>

<div class="period">
  <h5 style="margin: 0;">What's new🔈</h5>
  <hr style="margin: 0; margin-bottom: 8px;">
  <p style="margin-bottom: 7px; font-weight: 700; font-size: 1.43rem;">Fixed Navbar</p>
  <p> • The Navigation bar has been fixed at the top to make it convenient to navigate to any page, from any part of the page</p>
  <p> • February 3, 2023</p>
</div>


<%- include("partials/footer") -%>
