<%- include("partials/header") -%>


<div class="head">
  <h4>Message</h4>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Select order on saturday & some minor fixes</p>
  <p> • Now you can select the order of timtable on saturday page</p>
  <p> • Fixed some minor issues with heading</p>
  <p> • February 5, 2023</p>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Minor Fixes</p>
  <p> • Fixed some issues with navbar, tasks and about page</p>
  <p> • February 4, 2023</p>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Fixed Navbar</p>
  <p> • The Navigation bar has been fixed at the top to make it convenient to navigate to any page, from any part of the page</p>
  <p> • February 3, 2023</p>
</div>

<div class="period">
  <h5>What's new 🔈</h5>
  <p>Tasks has been updated</p>
  <p> • Now you can be able to sort out your tasks as completed & yet to complete</p>
</div>

<div class="period">
  <h5>Tasks 🔈</h5>
  <p> • Mark a task as complete using the checkbox</p>
  <p> • Delete a task using the delete button</p>
  <p> • Add new tasks using the input and add new task button</p>
  <p> • It make take a few seconds to add a new task or delete, try refreshing the page</p>
</div>




<%- include("partials/footer") -%>
