<%- include("partials/timeTableFix") -%>



<div class="head">
  <h4>Saturday</h4>
</div>


<div class="period">
  <p>No classes were assigned today, pls refer to the order of Timetable</p>
</div>


<form class="" action="/day" method="post">
  <div class="new-class">
    <button type="submit" class="add btn btn-primary" name="addClass">Add Class</button>
  </div>
</form>






<%- include("partials/footer") -%>
