<%- include("partials/timeTableFix") -%>



<div class="head">
  <h4>Sunday</h4>
</div>



  <div class="period">
    <p>Hurray! It's Sunday no classes today &#128526; &#128564;</p>
  </div>


<form class="" action="/day" method="post">
  <div class="new-class">
    <button type="submit" class="add btn btn-primary" name="addClass">Add Class</button>
  </div>
</form>




<%- include("partials/footer") -%>
