<%- include("partials/timeTableFix") -%>


<div class="head">
  <h4>Sunday</h4>
</div>

<div class="period">
  <p>Hurray! It's Sunday no classes today &#128526; &#128564;</p>
</div>


<%- include("partials/footer") -%>
