/* Theme */

#icon {
  width: 20px;
  cursor: pointer;
  position: relative;
  left: 5px;
}
:root {
  --primary-color: white;
  --secondary-color: white;
  /* --tertiary-color: #f4f5f7; */
  --tertiary-color: #fff;
  --forth-color: black;
  --fifth-color: #454545;
  --border-color: #dfe1e5;
  --head-border-color: black;
  --period-anime: linear-gradient(104.04deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
}
.dark-theme {
  --primary-color: #353535;
  --secondary-color: #525252;
  --tertiary-color: #4d4d4d;
  --forth-color: white;
  --fifth-color: white;
  --border-color: #454545;
  --head-border-color: #dfe1e5;
  --period-anime: #4d4d4d;
}



/* Alerts */

.notification_success, .notification_danger {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%) translateY(-30px);
  width: max-content;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  visibility: hidden;
  animation: fade-in 2.5s linear;
  border: 2px solid white;
}

.notification_success {
  background-color: #d1e8de;
  color: #0a3622;
}

.notification_danger {
  background-color: #f7d7da;
  color: #58151C;
}

/* .notification_icon_success, .notification_icon_danger {
  height: 21px;
  width: 21px;
  margin-right: 5px;
  position: relative;
  top: 1px;
} */

.notification_body_success, .notification_body_danger {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 12px 14px 12px;
}

.notification_progress_success, .notification_progress_danger {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: calc(100% - 8px);
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: inherit;
  animation: progress 2s 0.3s linear;
}

.notification_progress_success {
  background: linear-gradient(to right, #aaec8a, hsl(153, 96%, 29%));
}

.notification_progress_danger {
  background: linear-gradient(to right, #f0a9b8, #dc093e);
}

@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* Move to the final position */
  }
  95% {
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* Maintain position */
  }
}

@keyframes progress {
  to {
    transform: scaleX(1);
  }
}






/* Head */

.head {
  color: #36b170;
  margin: 35px 23%;
  font-size: 1.5rem;
  font-weight: 900;
  background: var(--secondary-color);
  border-radius: 12px;
  border: solid;
  border-color: var(--head-border-color);
  border-width: 2px;
  box-shadow: 2px 2px 15px -2px rgba(0,0,0,.25);
  padding: 15px 15px 10px 18px;
}



/* General */

body {
  padding-bottom: 70px;
  background: var(--primary-color);
}
.form-control{
  background-color: var(--tertiary-color);
  color: var(--forth-color);
}
label{
  color: var(--forth-color);
}
.form-control:focus{
  background-color: var(--tertiary-color);
  color: var(--forth-color);
}
.task-title {
  background: var(--primary-color);
  color: #36b170;
  margin: 20px 23%;
  width: auto;
}
.period {
  margin: 20px 23%;
  width: auto;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--forth-color);
  background: var(--tertiary-color);
  border-radius: 15px;
  /* border: solid; */
  border-color: var(--border-color);
  border-width: 1.5px;
  padding: 10px 15px 1px 18px;
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,.2);
  background-image: var(--period-anime);
}
.period-para{
  font-size: 1.15rem; 
  font-weight: 500; 
  color: var(--fifth-color);
}
.task {
  margin: 20px 23%;
  width: auto;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--forth-color);
  background: var(--tertiary-color);
  border-radius: 10px;
  /* border: solid; */
  border-color: var(--border-color);
  border-width: 1.5px;
  padding: 4px 15px 3px 15px;
  display: flex;
  align-items: stretch;
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,.2);
  background-image: var(--period-anime);
}
input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #36b170;
}
input[type="checkbox"] {
  width: 20px;
  height: 22px;
  position: relative;
  top: 6px;
}
.new-class,
.new-task {
  text-align: right;
  margin-top: 0;
  margin-bottom: 25px;
  margin-right: 23%;
}
h3 {
  color: white;
  text-align: left;
  font-weight: 900;
  width: 35%;
  padding-right: 60%;
  padding-left: 5px;
  padding-top: 3px;
}
sup {
  background: linear-gradient(250deg, #ed1e79, #662d8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
  font-weight: bold;
  font-size: 0.60rem;
  padding-left: 6px;
  letter-spacing: 1px;
}
h4 {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 10px;
}
button {
  margin-top: 6px;
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,.25);
}
footer {
  background-color: #3cc47c;
  margin-bottom: 0;
  margin-right: 0;
  text-align: right;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  position: relative;
  top: 70px;
}
.form-floating {
  margin: 20px 23%;
  width: auto;
  text-align: center;
}



/* Table */

table{
  width: 80%;
  margin: 60px 10%;
  background: var(--secondary-color);
  color: var(--forth-color);
  border-radius: 20px;
  box-shadow: 2px 2px 15px -2px rgba(0,0,0,.25);
}
td {
  text-align: center;
  padding: 15px 40px;
  font-size: 1.2rem;
}
th{
  text-align: center;
  padding: 20px 40px;
  font-size: 1.2rem;
  white-space: nowrap;
}



/* Navigation bar */

.container-fluid {
  margin-top: 0;
  position: relative;
  bottom: 8px;
  background-color: #3cc47c;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  text-align: left;
  opacity: 0.9;
  filter: drop-shadow(1px 1px 3px #0c1012);
  /* filter: drop-shadow(1px -1px 0.5rem #0c1012); */
}
.container-fluid-2 {
  margin-top: 0;
  position: relative;
  bottom: 8px;
  background-color: #3cc47c;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-right: 25px;
  text-align: left;
  opacity: 0.9;
  /* filter: drop-shadow(1px -1px 0.5rem #0c1012); */

}
.navbar {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar-timetable {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: #fd5200;
  border-radius: 0;
  padding: 0;
  margin: 0;
  padding-bottom: 8px;
  filter: drop-shadow(1px 1px 2px #0c1012);
}
.nav-tabs {
  --bs-nav-tabs-border-width: 0px;
}
.navbar-toggler{
  border-style: none; 
  width: 47px; 
  position: relative; 
  bottom: 3px; 
  box-shadow: 2px 2px 20px 2px rgba(0,0,0,.17);
}
.navbar-nav a {
  font-weight: 600;
  font-size: 1rem;
  font-stretch: condensed;
  text-decoration: none;
  padding-bottom: 0;
  padding-top: 7px;
}
.nav-item {
  color: white;
}
span {
  text-align: center;
}
.nav-link {
  flex: 1;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  white-space: nowrap;
  box-shadow: none;
}
.dropdown-menu{
  position: absolute;
  right: 0;
}



/* Message */

.l1{
  font-size: 1.2rem;
  color: black;
  padding: 0 10px;
  margin: 0 2.5px;
}
.l1:hover{
  color: blue;
}



/* About page */

.det {
  color: var(--forth-color);
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 8px;
}
.dett {
  font-weight: 400;
  font-size: 0.9rem;
  padding-right: 8px;
  padding-bottom: 2px;
  margin: 0;
  margin-top: 2px;
}
.contact-btn {
  background-color: #fd5200;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: 15px;
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,.25);
}
.contact-btn:hover {
  background-color: #3cc47c;
  color: white;
}
.parent {
  padding: 2rem 1rem;
  padding-bottom: 70px;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 0.8rem 0.8rem;
  vertical-align: middle;
  text-align: center;
}
a:hover {
  color: black !important;
  text-decoration: none;
}
.nav-link:hover {
  color: black !important;
  text-decoration: none;
}
.profile-tag{
  color: #36b170;
  text-decoration: none;
}
.profile-tag:hover {
  text-decoration: underline;
}



/* Attendance */

.attendance {
  /* background-color: var(--tertiary-color); */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.overallAttendance {
  /* background-color: var(--tertiary-color); */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}



/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .attendance {
    width: 97%;
    height: 450px;
    margin-left: 1%;
    margin-right: 2%;
  }
  .overallAttendance {
    width: 100%;
    zoom: 150%;
    height: 250px;
  }
  table{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .period{
    margin: 25px 7%;
  }
  .new-class,
  .task,
  .task-title,
  .form-floating,
  .new-task,
  .delete-add,
  .parent {
    margin: 20px 7%;
  }
  .chd-1 {
    position: relative;
    right: 12px;
  }
  .edit{
    margin-right: 8px;
    position: relative; 
    left: 5px;
  }
  .delete{
    position: relative; 
    left: 5px;
  }
  .l1{
    font-size: 1.15rem;
    padding: 0 8px;
    margin: 0 2.1px;
  }
  .head {
    margin: 35px 7%;
  }
  .top {
    width: 67%;
  }
  .table-container{
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap; 
  }
}



/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .attendance {
    width: 70%;
    height: 600px;
    margin-left: 12%;
    margin-right: 20%;
  }
  .overallAttendance {
    width: 70%;
    height: 500px;
    zoom: 120%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .period{
    margin: 25px 20%;
  }
  .new-class,
  .task,
  .task-title,
  .form-floating,
  .new-task,
  .delete-add,
  .parent {
    margin: 20px 20%;
  }
  .edit{
    margin-right: 8px;
    position: relative; 
    left: 5px;
  }
  .delete{
    position: relative; 
    left: 5px;
  }
  .head {
    margin: 35px 20%;
  }
  .top {
    width: 85%;
  }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .navbar-display-image{
    position: relative; 
    bottom: 5px;
  }
  .attendance {
    width: 62%;
    height: 750px;
    margin-left: 16.5%;
    margin-right: 20%;
  }
  .overallAttendance {
    width: 70%;
    height: 500px;
    zoom: 120%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .period{
    margin: 30px 30%;
  }
  .new-class,
  .task,
  .task-title,
  .form-floating,
  .new-task,
  .delete-add,
  .parent {
    margin: 20px 30%;
  }
  .edit{
    margin-right: 12px;
    position: relative; 
    left:4px;
  }
  .delete{
    position: relative; 
    left: 0;
  }
  .head {
    margin: 35px 30%;
  }
  .top {
    width: 85%;
  }
}
