/* Theme */
#icon {
  width: 25px;
  cursor: pointer;
  position: relative;
  left: 5px;
}

:root {
  --primary-color: white;
  --secondary-color: white;
  --tertiary-color: #e8e8e8;
  --forth-color: black;
}

.dark-theme {
  --primary-color: #353535;
  --secondary-color: #454545;
  --tertiary-color: #4d4d4d;
  --forth-color: white;
}

/* General */
body {
  padding-bottom: 70px;
  background: var(--primary-color);
}

.task-title {
  background: var(--primary-color);
  color: #36b170;
  margin: 20px 23%;
  width: auto;
}

.period {
  margin: 20px 23%;
  width: auto;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--forth-color);
  background: var(--tertiary-color);
  border-radius: 20px;
  border: solid;
  border-color: #bdbdbd;
  border-width: medium;
  padding: 10px 15px 1px 18px;
}

.task {
  margin: 20px 23%;
  width: auto;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--forth-color);
  background: var(--tertiary-color);
  border-radius: 15px;
  border: solid;
  border-color: #bdbdbd;
  border-width: medium;
  padding: 7.5px 15px 7px 15px;
  display: flex;
  align-items: stretch;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #36b170;
}

input[type="checkbox"] {
  width: 20px;
  height: 22px;
  position: relative;
  top: 6px;
}

td{
  padding: 7px 15px 7px 0;
}

.head {
  color: #36b170;
  margin: 35px 23%;
  font-size: 1.5rem;
  font-weight: 900;
  background: var(--secondary-color);
  border-radius: 12px;
  border: solid;
  border-color: black;
  border-width: 2px;
  padding: 15px 15px 10px 18px;
}

.new-class, .new-task {
  text-align: right;
  margin-top: 0;
  margin-bottom: 25px;
  margin-right: 23%;
}

.container-fluid {
  margin-top: 0;
  position: relative;
  bottom: 8px;
  background-color: #3cc47c;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  text-align: left;
  opacity: 0.9;
}

.navbar {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-timetable {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: #fd5200;
  border-radius: 0;
  padding: 0;
  padding-bottom: 8px;
}

.navbar-nav a {
  font-weight: 600;
  font-size: 1rem;
  font-stretch: condensed;
  text-decoration: none;
  padding-bottom: 3px;
  padding-top: 3px;
}

.nav-item {
  color: white;
}

span {
  text-align: center;
}

.nav-link {
  flex: 1;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}

.det {
  color: var(--forth-color);
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 8px;
}

.contact-btn {
  background-color: #fd5200;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: 15px;
}

.contact-btn:hover {
  background-color: #3cc47c;
  color: white;
}

.parent {
  padding: 2rem 1rem;
  padding-bottom: 70px;
  text-align: center;
}

.child {
  display: inline-block;
  padding: 0.8rem 0.8rem;
  vertical-align: middle;
  text-align: center;
}

a:hover {
  color: black !important;
  text-decoration: none;
}

.nav-link:hover {
  color: black !important;
  text-decoration: none;
}

h3 {
  color: white;
  text-align: left;
  font-weight: 900;
  width: 35%;
  padding-right: 60%;
  padding-left: 5px;
  padding-top: 3px;
}

sup {
  background: linear-gradient(250deg, #ED1E79, #662D8C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 0.65rem;
  padding-left: 6px;
  letter-spacing: 1.5px;
  vertical-align: middle;
}

h4 {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
}

button {
  margin-top: 6px;
}

footer {
  background-color: #3cc47c;
  margin-bottom: 0;
  margin-right: 0;
  text-align: right;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  position: relative;
  top: 70px;
}

.dett {
  font-weight: 400;
  font-size: 0.9rem;
  padding-right: 8px;
  padding-bottom: 2px;
  margin: 0;
  margin-top: 2px;
}

.form-floating {
  margin: 20px 23%;
  width: auto;
  text-align: center;
}

.attendance {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.overallAttendance {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .attendance {
    width: 97%;
    height: 450px;
    margin-left: 1%;
    margin-right: 2%;
  }

  .overallAttendance {
    width: 100%;
    zoom: 150%;
    height: 250px;
  }

  .period, .new-class, .task, .task-title, .form-floating, .new-task, .delete-add, .parent {
    margin: 20px 8%;
  }

  .chd-1{
    position: relative;
    right: 12px;
  }

  .head {
    margin: 35px 8%;
  }

  .top {
    width: 67%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .attendance {
    width: 70%;
    height: 600px;
    margin-left: 12%;
    margin-right: 20%;
  }

  .overallAttendance {
    width: 70%;
    height: 500px;
    zoom: 120%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .period, .new-class, .task, .task-title, .form-floating, .new-task, .delete-add, .parent {
    margin: 20px 20%;
  }

  .head {
    margin: 35px 20%;
  }

  .top {
    width: 85%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .attendance {
    width: 62%;
    height: 750px;
    margin-left: 16.5%;
    margin-right: 20%;
  }

  .overallAttendance {
    width: 70%;
    height: 500px;
    zoom: 120%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .period, .new-class, .task, .task-title, .form-floating, .new-task, .delete-add, .parent {
    margin: 20px 30%;
  }

  .head {
    margin: 35px 30%;
  }

  .top {
    width: 85%;
  }
}
